<app-navbar></app-navbar>


<br>

<div class="card mb-3 text-center ">
    <img src="{{Character.image}}" class="card-img-top imgdetalle" alt="...">
    <div class="card-body">

        <p class="card-text">Nombre: {{Character.name}}</p>
        <p class="card-text">Localizacion: {{Character.location.name}}</p>
        <p class="card-text">Especie: {{Character.species}}</p>
        <p class="card-text">Creado: {{Character.created}}</p>
        <p class="card-text">Genero: {{Character.gender}}</p>
        <p class="card-text">Origen: {{Character.origin.name}}</p>



    </div>
</div>